doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Perkembangan Wisata Kuliner Kota Medan

      section
        h2 Brotherhood Team
        h3 Imran Permadi
        h3 Muhammad Erfadh Yafizham
        h3 Martin Erikson
        h3 Windy Ardilla
        
      section
        h2 Medan hadir dengan berbagai macam kuliner
        h3 Aneka ragam kuliner tersebut dapat berupa jenis mie dengan seafood, minuman, kare, gulai, kue, roti dan lain-lain.
        h3 Makanan enak apa saja di kota Medan?

      section
      	h2 Ada berbagai jenis makanan enak di Medan, mulai dari cemilan sampai makanan berat.
      	h3 Kamu bisa mencobanya satu persatu untuk merasakan sendiri makanan mana yang menurutmu paling enak di Medan.
      	h3 Jika kamu bingung dari mana untuk memilihnya, di presentase ini akan dibahas mengenai berbagai jenis makanan enak di Medan.
      	h3 Kamu bisa menggunakannya untuk referensi wisata kuliner ketiga pergi ke Medan.
      	
      section
	h2 Bolu Meranti
	h3 Yang pertama dari jenis makanan camilan atau bisa digunakan untuk oleh-oleh yakni Bolu Meranti
	h3 Kue bolu Meranti tersebut sepertinya sama saja dengan kue bolu lainnya.
	h3 Namun setelah memakannya, lidah tidak akan pernah bohong untuk mengatakan bahwa bolu gulung Meranti memiliki rasa khas yang berbeda dengan bolu lainnya.
        h3 Bolu Gulung Meranti terdiri dari berbagai macam rasa yakni blueberry, mocha, keju dan rasa lainnya.

      section
	h2 Mie Aceh Titi Bobrok
	h3 Mie Aceh Titi Bobrok menjadi makanan enak di Medan kedua.
	h3 Entah mengapa makanan khas daerah lain malah memiliki nama di kota lain.
	h3 Mie Aceh ini terdiri dari mie kuning dan disajikan dalam dua pilihan goreng atau kuah.

      section
      	h2 Soto Medan
      	h3 Soto Medan di Rumah Makan Sinar Pagi ini mempunyai menu soto Medan yang sangat lezat dan sangat terkenal di Kota Medan.
      	h3 Maka jangan heran jika anda berkunjung ke rumah makan ini dan anda harus mengantri dalam waktu yang lama karena rumah makan ini selalu dipenuhi oleh pelanggan setiap harinya.
      	h3 Jika ingin kebagian Soto Medan yang lezat ini anda harus datang pagi-pagi ya, rumah makan ini buka pada jam 07 pagi sampai jam 05 sore.
      
      section
      	h2 Nasi Bebek Hainan
      	h3 Nasinya yang kecoklatan itu terasa gurih manis di lidah, sementara irisan daging bebek coklat tua kemerahan yang berkilat karena minyak terasa gurih dan lembut di lidah.
      	h3 "Enak", begitu komentar Dapot Siagian saat pertama kali menyantap nasi bebek hainan di sudut kaki lima Jalan Semarang, Medan.
      	h3 Harganya pun terjangkau antara Rp 20.000 dan Rp 30.000 tiap porsi.
      
      section
      	h2 Kue dan Roti
      	
      section
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild