doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Perkembangan Wisata Kuliner Kota Medan

      section
        h2 Brotherhood Team
        h3 Imran Permadi
        h3 Muhammad Erfadh Yafizham
        h3 Martin Erikson
        h3 Windy Ardilla
        
      section
        h2 Medan hadir dengan berbagai macam kuliner
        h3 Aneka ragam kuliner tersebut dapat berupa jenis mie dengan seafood, minuman, kare, gulai, kue, roti dan lain-lain.
        h3 Makanan enak apa saja di kota Medan?

      section
      	h2 Ada berbagai jenis makanan enak di Medan, mulai dari cemilan sampai makanan berat.
      	h3 Kamu bisa mencobanya satu persatu untuk merasakan sendiri makanan mana yang menurutmu paling enak di Medan.
      	h3 Jika kamu bingung dari mana untuk memilihnya, di presentase ini akan dibahas mengenai berbagai jenis makanan enak di Medan.
      	h3 Kamu bisa menggunakannya untuk referensi wisata kuliner ketiga pergi ke Medan.
      	
      section
	h2 Bolu Meranti
	h3 Yang pertama dari jenis makanan camilan atau bisa digunakan untuk oleh-oleh yakni Bolu Meranti
	h3 Kue bolu Meranti tersebut sepertinya sama saja dengan kue bolu lainnya.
	h3 Namun setelah memakannya, lidah tidak akan pernah bohong untuk mengatakan bahwa bolu gulung Meranti memiliki rasa khas yang berbeda dengan bolu lainnya.
        h3 Bolu Gulung Meranti terdiri dari berbagai macam rasa yakni blueberry, mocha, keju dan rasa lainnya.

      section
	h2 Mie Aceh Titi Bobrok
	h3 Mie Aceh Titi Bobrok menjadi makanan enak di Medan kedua.
	h3 Entah mengapa makanan khas daerah lain malah memiliki nama di kota lain.
	h3 Mie Aceh ini terdiri dari mie kuning dan disajikan dalam dua pilihan goreng atau kuah.

      section
      	h2 Soto Medan
      	h3 Soto Medan di Rumah Makan Sinar Pagi ini mempunyai menu soto Medan yang sangat lezat dan sangat terkenal di Kota Medan.
      	h3 Maka jangan heran jika anda berkunjung ke rumah makan ini dan anda harus mengantri dalam waktu yang lama karena rumah makan ini selalu dipenuhi oleh pelanggan setiap harinya.
      	h3 Jika ingin kebagian Soto Medan yang lezat ini anda harus datang pagi-pagi ya, rumah makan ini buka pada jam 07 pagi sampai jam 05 sore.
      
      section
      	h2 Nasi Bebek Hainan
      	h3 Nasinya yang kecoklatan itu terasa gurih manis di lidah, sementara irisan daging bebek coklat tua kemerahan yang berkilat karena minyak terasa gurih dan lembut di lidah.
      	h3 "Enak", begitu komentar Dapot Siagian saat pertama kali menyantap nasi bebek hainan di sudut kaki lima Jalan Semarang, Medan.
      	h3 Harganya pun terjangkau antara Rp 20.000 dan Rp 30.000 tiap porsi.
      
      section
      	h2 Es Pisang Ijo
      	h3 Es Pisang Ijo adalah es yang sangat enak dan sangat menggugah selera.
      	h3 Es ini seperti halnya es biasa, tetapi ada salah satu faktor yang membuat es ini banyak di nikmati dan di minati oleh para konsumen,yaitu pisangnya. 
      	h3 Walaupun pisangnya hanyalah Pisang raja yang tua, tetapi yang membuat orang menjadi penasaran adalah bentuknya yang seperti molen dan warnanya yang hijau dan adanya penambahan sedikit saus.
      	h3 Es ini sangatlah menyegarkan tenggorokkan.
      	
      section
      	h2 Kue dan Roti
      	h3 Kue dan Roti yang ada pada wisata kuliner kota medan yaitu Di Pasar Bengkel
	h3 Kue dan Roti yang ada pada wisata kuliner kota medan yaitu Di Pasar Bengkel.
	h3 Dengan adanya sentra oleh-oleh pasar bengkel ini, secara langsung menambah pendapatan masyrakat sekitar maupun pendapatan daerah sekitar pasar bengkel.
	h3 Serdang Bedagai merupakan kabupaten penghubung antar kota medan dengan provinsi yang berada di sebelah selatan sumatera utara dan merupakan jalur utama ke kota medan,
	h3 jadi pasar bengkel merupakan tempat persinggahan yang banyak didatangi oleh orang yang dalam perjalanan.
	
      section
        h2 Dodol Pasar Bengkel
	h3 Dari semua jenis dodol dan rasanya yang paling digemari di kota medan adalah Dodol Durian dan Dodol Pandan. 
	h3 Dodol yang tersedia dalam beberapa rasa seperti durian dan pandan, membuat para pemudik ramai singgah ke pasar bengkel, sebelumnya melanjutkan perjalanan ke tempat tujuan.
	
      section	
      	h2 Bika Ambon 
      	h3 Bika Ambon Zulaikha Jl. Mojopahit No. 62 Medan. No. Telpn. 061-4528181 Buka:10:00 s/d 22:00, setiap hari
      	h3 Bagi para pecinta kuliner Medan, tentunya sudah tidak asing lagi dengan Bika Ambon yang satu ini. 
        h3 Bika Ambon Zulaikha merupakan salah satu kuliner yang paling fenomenal dan paling dicari di Medan beberapa tahun belakangan ini.
	h3 Dengan kualitas rasa dan kelembutan bikanya menjadikan produk ini menjadi salah satu kuliner paling diburu di Kota Medan saat ini.
	
      section
      	h2 Lemang
      	h3 Lemang adalah makanan yang terbuat dari beras pulut yang dibakar di dalam sepotong bambu. 
	h3 Lemang Medan sudah terkenal sejak tahun 1970an dan banyak dijadikan oleh-oleh.
        h3 Penjual lemang bisa ditemukan di Jalan Flamboyan, Jalan Gatot Subroto dan Jalan Bromo Medan.
	h3 Harganya sekitar Rp 20-25 ribu per bambu atau Rp 5 ribu per porsi.
        h3 Lemang dalam bambu yang belum dibelah tahan dua hari sedangkan yang sudah dibuka hanya tahan satu malam. 
	
      section
      	h2 Risol GOGO
      	h3 Adapun kuliner jajanan makanan ringan yang paling mantap adalah risol GOGO. 
      	h3 Risol gogo merupakan kuliner ringan di medan yang sangnt di minati warga kota medan. 
      	h3 Risol gogo umum nya sama seperti risol biasa hanya saja yang membedakan isinya. 
      	h3 Isinya ada sayuran seperti irisan bengkuang, wortel, mayones, ayam dan daging. 
      	h3 Untuk harga risol gogo sangat bersaing yaitu Rp. 2500,-/pcs nya. 
      	h3 Selain Risol ada juga kue-kue lainnya yang tersedia di risol gogo seperti kue lemper, sus, dan kroket. 
      	h3 Untuk harga sendiri semuanya sama dengan risol yaitu Rp. 2500,-. 
	h3 Outlet Risol gogo ini terletak di jalan mojopahit no. 53 medan.
	h3 Risol gogo buka setiap hari mulai dari pukul 08.00 s/d 20.00 wib. 
	h3 Bagi anda yang mempunyai kesibukan yang tinggi dan tidak sempat mengunjungi outlet risol gogo anda dapat memesannya melalu telp dan nantinya pesanan anda akan di antar ke alamat yang dituju. Untuk pemesanan melalui telp bisa menghubungi no telp 061-4525398 / 061-4146620.
	
      section
      	h2 Bakpao Muslim
      	h3 Kuliner jajanan ringan bakpao muslim seperti kita ketahui biasanya yang namanya bakpao identik dengan makanan khas Tionghoa yang biasanya non-halal.
      	h3 Namun di kota Medan ada kuliner yang namanya bakpao muslim.
      	h3 Bakpao ini sama seperti bakpao biasanya.
      	h3 Tetapi bakpao muslim memiliki aneka rasa seperti ayam, coklat, keju, blueberry, strawberry dan kacang.
      	h3 Dan yang pastinya bakpao ini 100% halal.
      	h3 Untuk yang berminat mencoba kenikmatanya, silahkan datang ke kedai bakpao muslim.
      	
      section
      	h2 Matabak Piring Murni 
      	h3 Kalau memang pecinta kuliner, hobi keliling cari makanan baru sudah tak asing lagi. 
      	h3 Kali ini saya berkeliling mencari salah satu kuliner Medan. Yang cukup terkenal tentunya. 
      	h3 Ini bukan makanan berat, salah satu Makanan ini sudah pernah masuk TV lho.. disponsori dengan produk yang terkenal yaitu Meces Ceres. 
      	h3 Martabak piring murni namanya. Usaha kuliner ini langsung disponsori oleh meces ceres. 
      	h3 Martabak piring murni ini terletak di Jl Bogor, Simpang Jl Selat Panjang Kota Medan.makanan cemilan. 
      	h3 Enak dimakan saat tidak terlalu kenyang. Karena makanan ini memiliki cita rasa yang manis. Kalau saat kenyang, tidak terlalu cocok. 
      	h3 Tapi kalau terlalu lapar, makanan ini cukup cocok dimakan sewaktu lapar.
        h3 Yang membuat unik, martabak ini dimasak dengan cara yang berbeda. 
        h3 Bukan seperti jualan martabak yang sering kita lihat. Martabak ini dimasak dengan piring yang terbuat dari besi/ aluminium. 
        h3 Kemudian dipanaskan dengan arang. Bukan memakai api kompor gas/ kompor minyak. 
        h3 Dimasak dengan arang,  martabak ini menghasilkan kulit luar yang sempurna menggugah selera. 
        h3 Ada 2 jenis martabak yang ditawarkan, yaitu martabak yang tebal dan martabak yang crispy. Ukuran martabaknya tidak terlalu besar. 
        h3 Kurang lebih sebesar 5 jari tangan kita ketika jari dibuka lebar. 
        h3 Kalau martabak yang tebal, hampir sama seperti martabak pada umumnya, namun rasanya berbeda, cukup lezat. Yang bikin lebih menarik dari martabak piring ini adalah martabak tipis/crispy nya. Enak dimulut, karena rapuh.
        h3 Harga martabak ini sagat terjangkau, harga mulai dari harga 2 ribu sampai 6-ribuan. 
        h3 Kalau mau ngunjungi tempat ini, siap siap ngantri ya?. Soalnya pengunjung lumayan ramai ke martabak murni ini. Apalagi di bulan Ramadhan. 
        h3 Biasanya martabak ini buka mulai dari jam 5 sore sampai malam hari
      
      section
      	h2 Martabak Gapa
      	h3 Berkunjung ke Medan, tidak lengkap kalau belum mencicipi Martabak Gapa. 
      	h3 Kuliner khas Medan yang dimasak menggunakan arang itu memang selalu diburu penggemarnya. 
      	h3 Cita rasa yang terjaga sejak puluhan tahun, membuat Martabak Gapa, bertahan hingga kini.
        h3 Ketika memasuki rumah makan di Komplek Gapa, Medan, Sumatera Utara, aroma gurih martabak langsung tercium. 
        h3 Ayau, penjual martabak khas medan yang sudah berjualan sejak 1980, dwfwfi komplek itu. Tidak heran, martabaknya lebih dikenal dengan nama Martabak Gapa. 
      	h3 Bahan yang digunakan sebenarnya hampir sama dengan martabak telur lainnya. 
      	h3 Bedanya, Martabak Gapa menggunakan kentang yang dihaluskan, bawang merah, cabe rawit yang diiris tipis dan daun bawang. Semua bahan dikocok hingga merata      
      	h3 Cara masaknya juga gampang. Empat buah kulit martabak diletakkan  dalam penggorepnwfngan besar, kemudian masukkan campuran adonan martabak.
      	h3 Selanjutnya, letakkan kulit martabak lagi diatasnya, lalu dibalik hingga mengering dan matang.
      	h3 Nah uniknya, martabak itu dimasak secara tradisional, yakni menggunakan arang lho.
      	h3 Martabak Gapa disajikan lengkap dengan kare kambing serta acar. 
      	h3 Selain Martabak juga tersedia roti cane yang memiliki aneka rasa seperti coklat, keju dan lain-lain. Masalah harga, tidak usah khawatir. 
      	h3 Harga martabak itu, mulai 10 ribuan aja sedangkan untuk royi cane mulai 8 ribuan. Murah kan?
        h3 Berminat? Silahkan kunjungi outlet martabak gapa di jalan S. Parman kompleks bengkel gapa, jam buka mulai 12.00 - 18.00.
	h3 Malam buka gak ya? Jangan khawatir, malam martabak gapa buka di seputaran merdeka walk tepatnya di sebelah bank panin.  
      
      section
 	h2 Ketoprak S. Parman
 	h3 Bagi sebagian masyarakat Medan, nama "ketoprak" mungkin sedikit asing di telinga. Hal ini cukup wajar karena panganan ini berasal dari ibukota Indonesia, Jakarta. 
 	h3 Ketoprak sendiri biasanya terdiri atas ketupat, tahu, mie hun, dan tauge yang disiram kuah kacang dan gula merah yang diulek dengan tambahan cabe rawit, plus kecap manis dan kerupuk. Yang membedakan kuah kacang ketoprak dengan pecal adalah ketoprak tidak menggunakan kencur dan dominan di bawang putih. Di Jakarta, biasanya ketupat dijajakan menggunakan kereta dorong di jalan-jalan atau di kaki lima.
 	h3 Cerita punya cerita, ternyata di Medan juga terdapat beberapa penjual ketoprak. Salah satu ketoprak yang patut dicoba pecinta kuliner di Medan adalah yang berlokasi di Jalan S. Parman, di depan Bank BJB.
 	h3 Warung ketoprak ini cukup sederhana. Rak steling kayu yang berdindingkan kaca dengan ukuran sekitar 2 m x 1 m, dijadikan "dapur" pengolahan ketoprak adalah dua orang "koki". Sementara para pembeli dipersilahkan duduk di kursi plastik dan meja plastik yang di atasnya sudah terhidang risoles, kerupuk udang, hingga keripik sambal.
 	h3 "One person one ketoprak". Sama seperti di Jakarta, sistem pembuatan ketoprak ini dikerjakan satu porsi untuk satu orang. Mulai dari pengulekan bumbu kacang, bawang putih, cabe rawit dan gula merah hingga penaburan kerupuk di atas ketoprak. Di satu sisi hal ini membuat kita merasa spesial, namun di sisi lain kita harus rela sedikit lama menunggu.
 	h3 Setelah menunggu sekitar dua puluh menit, pesanan kami pun dihidangkan di meja. Sekilas kami melirik ke ketoprak ini, kami langsung mengetahui kalau ada beberapa perbedaan dengan ketoprak yang biasa kami makan di Jakarta. Pertama, ketoprak ini menggunakan lontong, sedangkan di Jakarta menggunakan ketupat. Kedua, ketoprak ini menggunakan telur rebus, sedangkan yang biasa kami makan di Jakarta tidak. Ketiga, perbedaan mencolok dari porsinya; ketoprak di Jakarta porsinya sangat banyak - terkadang kerupuknya tumpah-tumpah -, namun ketoprak di depan kami ini cukup "hemat" porsinya. Meski demikian, porsinya yang hemat ini cukup untuk mengganjal perut di kala mentari telah terbenam di ufuk barat.
 	h3 Dari segi rasa, ketoprak di Jalan S. Parman ini terbilang cukup enak. Namun bagi mereka yang kurang suka bawang putih, mungkin tidak terlalu suka karena aromanya cukup dominan. Untuk harganya, seporsi ketoprak yang buka setelah maghrib ini bisa dinikmati dengan mengeluarkan kocek sebanyak dua belas ribu rupiah. 
	h3 Jadi jika anda ingin mencicipi ketoprak a la Medan, silahkan meluncur langsung ke Jalan S. Parman di depan Bank BJB.
\
      section
	h2 Sate Padang / Kacacng H. Amiruddin (Sate Bata)
	h3 Kalau di sepanjang jalan Kesawan sering kali dijumpai resto dan cafe seperti Tip-Top dan 061 Bistro, maka di sebuah jalanan kecil yang terletak diantara toko iPlug dan Bata ada 2 gerai yang sudah lama berjualan. Sudah puluhan tahun sate padang H. Amiruddin yang lebih dikenal sebagai Sate “Bata” (karena lokasinya memang terletak di samping toko Bata) ditemani oleh mitranya Ice Cream Apo.
    	h3 Kedua gerai ini saling melengkapi, dimana gerai sate menyuguhkan makanannya yang lumayan membuat anda berkeringat, namun kemudian dimanjakan dengan segelas ice cream soda yang begitu sejuk dan langsung menenangkan dahaga anda. Ya… sate disini memang boleh dibilang lebih pedas dari beberapa gerai sate yang pernah kami makan. Selain itu juga bumbu kuahnya lebih berminyak dan asin.
	h3 Bagi yang udah terbiasa melalang buana mencicipi sate padang pasti menyadari bahwa tusukan daging sate di gerai ini lebih tebal dan besar. Dan seperti biasanya, terdapat jeroan seperti jantung, usus, lidah, babat, dan daging ayam yang menambah variasi selain pilihan daging. Selain itu juga anda bakal dihidangkan dengan beberapa cemilan seperti sate kerang, kerupuk jangek, keripik ubi pedas dan aneka kue. Standarnya sih… jangek atau keripik ubi biasanya dituang dan dinikmati bersamaan dengan sate, namun bagi anda yang merasa petualang, silahkan bereksperimen.
	h3 Agak susah untuk menjelaskan perasaan ketika anda merasa pedas lalu disuguhi ice cream soda. Kelihatannya sih sederhana, namun rasa manis dari soda buatan pabrik lokal ditambah dengan manis dan segarnya es benar-benar menghapus dahaga. Tergantung selera anda menikmati minuman ini, ada yang mengaduknya hingga es krim bercampur dengan soda, ada yang menghabisi sodanya dulu, lalu menikmati potongan es krim. 
	h3 Jangan terkejut ketika anda selesai makan dan siap untuk membayar. Satu porsi sate padang H. Amiruddin ini seharga Rp. 30.000 untuk 9 tusuk sate dan satu buah lontong ketupat. Harga yang fantastis untuk seporsi sate, karena pada umumnya hanya berkisar antara Rp 13.000 – Rp 20.000. Sedangkan untuk es krim soda seharga Rp 17.000. Patutkah kita juluki ‘kuliner kaki lima, harga bintang lima’.

      section
      	h2 Kare 
      	h3 <img src="Menu Kari.jpg"
	h3 Kare juga merupakan ciri khas makanan di medan yang paling digemari
	h3 Sebagai rumah makan yang menjadi legendaris menu kari di Medan, tidak mengherankan kalau pelanggan setianya selalu datang untuk bernostalgia menikmati kuliner hasil racikan homemade yang dibuat secara turun-temurun. 
	h3 Sebagai ikon rumah makan di kota Medan, "Rumah Makan Tabona (sejak 1972)" ini punya menu andalan kari sapi dan kari ayam yang disajikan dengan bihun dan nasi. 
	h3 Rasa lezatnya pun bisa membuat kamu ketagihan.
	
      section
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild